body{
    background-color: black;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    display: block;
    height: 200px;
    width: 20px;
    background-color: #ffffff;
    margin: 12px;
    box-shadow: 2px 2px 2px #48b6e0;
    animation: scale 1500ms ease infinite;
    transform-origin: 50% 50%;
    animation-delay: 100ms;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform : scale(1);
    }
}