body{
    background-color: black;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar{
    display: block;
    height: 100px;
    width: 10px;
    background-color: #ffffff;
    margin: 22px;
    box-shadow: 2px 2px 2px #48b6e0;
    animation: scale 1400ms ease infinite;
    transform-origin: 50% 50%;
}
.one{
    animation-delay: 100ms;
}
.two{
    animation-delay: 400ms;
}
.three{
    animation-delay: 700ms;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
        box-shadow: 4px 4px 12px #48b6e0;
    }
    100%{
        transform : scale(1);
    }
}
